body {
  background-color: #1a1a1a; /* Dark background for the entire page */
  color: #e0e0e0; /* Light text color */
}

#root {
  background-color: #1a1a1a; /* Ensure the root element also has the dark background */
  color: #e0e0e0; /* Light text color for root content */
}

.text-purple {
  color: #a872e6 !important; /* !important to override Bootstrap if needed */
}
.border-dashed {
  border-style: dashed !important;
}